# Set the Site Reliability Team as the owner of the root files and all folders without an owner
/* @TypeScriptPlatform/Site-Reliability-Team

# Set the Site-Reliability-Team as the owner of the .github folder
/.github/ @TypeScriptPlatform/Site-Reliability-Team

# Site Reliability Team owns the 'cloud-infrastructure' directory
/cloud-infrastructure/ @TypeScriptPlatform/Site-Reliability-Team
